/* src/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(/node_modules/aos/dist/aos.css);
@import url(/node_modules/swiper/swiper-bundle.min.css);

.container {
    @apply mx-auto py-24 max-w-[90vw] gap-24 flex flex-col;
}

.hero .container {
    @apply mx-auto my-auto py-24 max-w-[90vw] gap-0 flex flex-col;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
}

h1 {
    @apply text-h1-desktop;
}
h2 {
    @apply text-h2-desktop;
}
h3 {
    @apply text-h3-desktop;
}
h4 {
    @apply text-h4-desktop;
}
h5 {
    @apply text-h5-desktop;
}
h6 {
    @apply text-h6-desktop;
}
p {
    @apply text-p-desktop;
}
ul {
    @apply text-ul-desktop;
}
ol {
    @apply text-ol-desktop;
}
li {
    @apply text-li-desktop;
}

@media (max-width: 768px) {
    h1 {
        @apply text-h1-mobile;
    }
    h2 {
        @apply text-h2-mobile;
    }
    h3 {
        @apply text-h3-mobile;
    }
    h4 {
        @apply text-h4-mobile;
    }
    h5 {
        @apply text-h5-mobile;
    }
    h6 {
        @apply text-h6-mobile;
    }
    p {
        @apply text-p-mobile;
    }
    ul {
        @apply text-ul-mobile;
    }
    ol {
        @apply text-ol-mobile;
    }
    li {
        @apply text-li-mobile;
    }
}


.hero {
    @apply bg-purple-300 h-screen w-screen flex;
}

.footer-social-icon:not(:first-child) {
    @apply ms-5;
}

.footer-social-icon {
    @apply text-black hover:text-red-500;
}

footer p {
    @apply text-black
}

footer h2 {
    @apply text-h5-desktop;
}





.media-with-text {
    @apply flex flex-col md:flex-row justify-between gap-12 md:gap-24;
}

.media-with-text .text {
    @apply md:w-6/12 my-auto;
}
.media-with-text .media {
    @apply md:w-6/12 my-auto;
}

.countup {
    @apply text-center py-8 px-4 my-4;
}

.countup-number {
    @apply text-h3-desktop font-bold;
}

.accordion-heading {
    @apply flex items-center gap-8 w-full p-5 text-left rtl:text-right hover:bg-gray-100 gap-3;
}

.accordion-content {
    @apply p-5 bg-gray-50;
}

.hover-zoom:hover img {
    transform: scale(1.1);
}

.gallery-grid {
    @apply grid grid-cols-3 md:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-3;
}

.gallery-item {
    @apply md:mx-auto hover-zoom relative w-32 h-16 lg:w-64 lg:h-32 xl:w-80 xl:h-56 overflow-hidden;
}